:root {
    --primary-color: #190056;
    --secondary-color: #5A44B7;
    --bg-color: #E2DCF9;
    --bg-color-card: white;
}

body, .notification {
    background-color: var(--bg-color);
}

.badge, .progress-bar {
    background-color: var(--secondary-color);
}

.btn, .btn.dropdown-toggle {
    background-color: var(--primary-color);
    color: var(--bg-color-card);
    border-style: none;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--secondary-color);
    color: var(--bg-color-card);
}

.card, .nav {
    background-color: var(--bg-color-card);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.propic {
    object-fit: cover;
}

/* Mobile */
@media screen and (max-width: 768px) {
    div.desktop {
        display: none;
    }
    div.mobile {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 768px) {
    div.desktop {
        display: block;
    }
    div.mobile {
        display: none;
    }
}